body {
  padding: 40px 0;
}

.hero-unit {
  h1 {
    font-family: 'Alfa Slab One';
    font-weight: normal;
    font-size: 70px;
    line-height: 70px;
  }

  button {
    font-size: 25px;
    padding: 15px 50px;
    margin: 15px 0 5px;
  }
}

.navbar .brand {
  font-family: 'Lobster Two';

  .nav li {
    margin: 0 5px 0 0;
  }
}

#welcome {
  text-align: center;
  margin: 30px 0 0 0;

}

.marketing {
  margin: 60px 0 0 0;
  text-align: center;

  h2 {
    font-family: 'Alfa Slab One';
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
  }
}

@import "/app/styles/smartphone";
@import "/app/styles/portrait-tablet";
@import "/app/styles/landscape-tablet";
@import "/app/styles/default";
@import "/app/styles/large-display";
