@import 'helpers'
@import 'bootstrap/bootstrap'
@import 'bootstrap/responsive'
@import 'cluster'

body, html
  height 100%

.hero-unit
  text-align center
  h1
    font-family 'Alfa Slab One'
    font-weight normal
    font-size 70px
    line-height 70px
    margin 0 0 10px
