@import 'bootstrap/bootstrap'
@import 'bootstrap/responsive'
@import 'variables'
@import 'cluster'

body, html
  height 100%

body
  margin-top 60px

.navbar
  .brand
    font-family 'Lobster Two'

.hero-unit
  text-align center
  h1
    font-family 'Alfa Slab One'
    font-weight normal
    font-size 70px
    line-height 70px
    margin 0 0 10px
  button
    padding 15px 30px
    font-size 20px
