.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toogle='collapse', data-targets='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') tomato cluster
      .nav-collapse
        p
          a.btn.btn-primary
            i.icon-time.icon-white
            | Start Activity
          a.btn.btn-danger
            i.icon-trash.icon-white
            | Stop Activity
          a.btn.btn-warning
            i.icon-heart.icon-white
            | Short Break
          a.btn.btn-warning
            i.icon-heart.icon-white
            | Long Break


.container
  .row
    .span4
      h2 You
      ul#you
        !=partial('partials/activity')
    .span8
      h2 Cluster
      ul#cluster

script#activity-template(type='text/html')
