header(role='banner')
  strong tomatocluster

#dashboard
  h1 Dashboard
  ul#activities
  ul#history

  footer#actions
    button Start Activity

include mustash_templates

script(src='/nowjs/now.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/lib/jquery.reveal.js')
script(src='/lib/jquery.transition.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js')
script(src='/client/router.js')
script(src='/client/models.js')
script(src='/client/collections.js')
script(src='/client/views.js')
