!!! 5
html
  head
    title Tomato Cluster
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    header(role='banner')
      strong
        | tomatocluster
        span mini

    #focus
      time 13:00

    #dashboard
      h1 Dashboard
      ul#activities
      ul#history

      footer#actions
        button Start Activity

    include mustash_templates
