!!! 5
html(lang='en')
  head
    title Tomato Cluster
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/favicon.png', type='image/png')
    link(rel='stylesheet',
    href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster+Two')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/styles/app.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  body

    !=body

    script(src='/nowjs/now.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r23/html5.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js')
    script(src='/javascripts/lib/bootstrap.js')
    script(src='/javascripts/lib/jquery.transition.min.js')
