script#user-init-modal(type='text/template')
  .reveal-modal
    h1 Welcome

script#activity-template(type='text/template')
  article
    time 14:00
    .info
      hgroup
        h1 Markus
        h2 Design på aktiviterna
      footer
        dl
          dt Pomodoros
          dd 5

script#pomodoro-template(type='text/template')
  article
