header

article
  h1 Tomato Cluster
  p
    | The Pomodoro Technique is an awesome tool
    | to increase your productivity. You have probably tried a dozen project
    | management systems before. How long do you keep on using them? A week?
    | That's why we made yet another one...
  p
    | To get going just press the <i>huge</i> button below
    | to create a new cluster, send the url to a couple
    | of friends. That's it... everything else should explain
    | itself.

  form(method='post', action='/cluster')
    button.huge(type='submit')
      | Create a Cluster
      span And enjoy being less disturbed
    a(href="#more")
      | Nope, need know more before pressing any buttons

section#more
  | hello
