@import 'colors'
@import 'fonts'
@import 'mixins'
@import 'buttons'

body
  text-align center
  color mainFontColor
  background bgColor
  font-family 'Primary', 'Sans Serif'
  font-size 14px
  margin 0
  padding 0

h1
  color headerColor
  font-size 30px
  text-shadow 0 2px 1px #000

a
  color linkColor
  text-decoration underline

p
  line-height 20px
  margin 0 0 10px 0

  i
    color mainFontColor + 50%

article, section header, footer
  display block

time
  font-family 'Monaco', 'Consolas'

header
  height 40px
  background bgColor - 35%
  border-bottom solid 1px bgColor + 5%

header.start-page
  padding 5px 20px

  .logo
    font-size 40px
    span
      font-size 20px

article
  width 960px
  margin 0 auto

  h1
    font-family 'AlfaSlabOneRegular'
    font-size 60px
    margin 40px 0 15px 0
    font-weight normal
    text-shadow 2px 2px 2px #000

  p
    width 400px
    margin 0 auto 30px

  button
    width 400px

  a
    display block
    margin 15px 0 0

#more
  background #ebebeb
  margin 500px 0 0
  height 500px
