@import 'colors'
@import 'mixins'

button
  box-shadow(0 1px 2px #000)
  border-radius(5px)
  vertical-gradient(accentColor, accentColor - 45%)
  cursor pointer
  border none
  color #fff
  padding 10px 30px
  font-size 16px
  text-shadow 0 1px 2px #000

button.huge
  border-radius(10px)
  box-shadow(0 1px 3px #000)
  text-shadow 0 1px 3px #000
  font-size 24px
  padding 15px 50px
  span
    display block
    font-size 12px
    color #b1b1b1

button:hover
  vertical-gradient(accentColor + 10%, accentColor - 30%)

