// Colors
accentColor = #ab0202
bgColor = #343434



darkBackground = #343434
mainFontColor = #343434
mediumBackground = #3d3c3c
links = #00B7FF
headerBg = #1d2021
contentBg = #EBEBEB
tomato = #900
splashText = #b1b1b1
