@import 'colors'

body
  font-size 14px

header
  background bgColor - 35%
  border-bottom solid 1px bgColor + 5%

  .content
    margin 0 auto
    overflow hidden
    width 960px

  h1
    float left
    font-family 'Logo'
    margin 0 auto
    font-weight normal
    font-size 48px
    text-transform lowercase
    line-height 68px
    text-shadow 0 2px 2px #000
    a
      background url('/images/tomato_cluster_large.png') no-repeat
      background-position left center
      color #fff
      text-decoration none
      padding 0 0 0 65px
  nav
    float right
    ul
      list-style none
      padding 0
      margin 0

article
  width 960px
  margin 0 auto
  h1
    margin 50px 0 0

p
  color #B1B1B1
  line-height 20px
