!!! 5
html(lang="en")
  head
    != SocketStream
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster+Two')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tomato Cluster
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container

    #start.container-fluent
      section.hero-unit
        .row-fluent
          .span6.offset2
          h1 Tomato Cluster
          p
            | The Pomodoro Technique is an awesome tool
            | to increase your <a href=""><strong>productivity</strong></a>. You have probably tried a dozen project
            | management systems before. How long did you keep on using them? A week?
            | So, we created a <a href=""><strong>disturbance management system</strong></a>
          p
            | To get going just press the <strong>huge</strong> button below
            | to create a new cluster, send the url to a couple
            | of friends. That's it... everything else should explain
            | itself.

          button.btn.btn-large.btn-primary(type='button')
            | Create a Cluster
          a(href="#more")
            | Nope, need know more before pressing any buttons


    #cluster
      h1 Tjohej
