!!! 5
html(lang="en")
  head
    != SocketStream
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster+Two')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tomato Cluster
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href="#") Tomato Cluster
          .nav-collapse
            ul#clusters.nav
            ul.nav.pull-right
              li: a.user-name
