body {
  padding-top: 40px;
}
.navbar .brand {
  font-family: 'Lobster Two';
}
.navbar .brand .nav li {
  margin: 0 5px 0 0;
}
#welcome {
  text-align: center;
  margin: 30px 0 0 0;
}
#welcome h1 {
  font-family: 'Alfa Slab One';
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
}
#welcome button {
  font-size: 25px;
  padding: 15px 50px;
  margin: 0 0 10px;
}
.marketing {
  margin: 60px 0 0 0;
  text-align: center;
}
.marketing h2 {
  font-family: 'Alfa Slab One';
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
}
.marketing p {
  text-align: left;
}
footer {
  color: #fff;
  margin: 30px 0 0 0;
  background: #2c2c2c;
  padding: 10px 0;
  text-align: center;
}
