body {
  padding: 40px 0;
}
.hero-unit h1 {
  font-family: 'Alfa Slab One';
  font-weight: normal;
  font-size: 70px;
  line-height: 70px;
}
.hero-unit button {
  font-size: 25px;
  padding: 15px 50px;
  margin: 15px 0 5px;
}
.navbar .brand {
  font-family: 'Lobster Two';
}
.navbar .brand .nav li {
  margin: 0 5px 0 0;
}
#welcome {
  text-align: center;
  margin: 30px 0 0 0;
}
.marketing {
  margin: 60px 0 0 0;
  text-align: center;
}
.marketing h2 {
  font-family: 'Alfa Slab One';
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
}
.marketing p {
  text-align: left;
}
@media (max-width: 480px) {
  .hero-unit {
    padding: 20px;
  }
  .hero-unit h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 10px;
  }
  .hero-unit p {
    font-size: 16px;
    line-height: 22px;
  }
  .hero-unit button {
    padding: 15px 30px;
    font-size: 20px;
  }
  .marketing h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  
}
@media (min-width: 769px) and (max-width: 980px) {
  
}
@media (min-width: 981px) and (max-width: 1200px) {
  
}
@media (min-width: 1201px) {
  
}
