#user.modal.fade
  .modal-header
    h3 Your name?
  .modal-body
    form.form-horizontal
      .control-group
        label.control-label(for='name') Your name
        .controls
          input#name.input-xlarge(type='text',placeholder='Enter your name')
          p.help-block We'll try to remember from now on
  .modal-footer
    a.btn.btn-primary.btn-large(href='#') Continue
